{% extends 'base.html.twig' %}

{% block title %}
        {{ 'app.title.zoneCreation' | trans }}
{% endblock %}

{% block body %}
    <main class="container-fluid">
        <div class="mt-2">
            {{ include('cemetery/_zoneCreationForm.html.twig') }}
        </div>
    </main>
{% endblock body %}